@import "hero.css";
@import "planning.css";

:root {
  --grayscale-50: #f8f8f8;
  --grayscale-100: #f0f0f0;
  --grayscale-200: #e1e1e1;
  --grayscale-300: #cdcdcd;
  --grayscale-400: #aeaeae;
  --grayscale-500: #919191;
  --grayscale-600: #767676;
  --grayscale-700: #5e5e5e;
  --grayscale-800: #4b4b4b;
  --grayscale-900: #3d3d3d;
  --grayscale-950: #222222;
  --grayscale-1000: #000000;
  --scroll: 0;
  --figure-transition: 0.5s;
  --figure-transition-delay: 0.3s;
  --max-width: 1080px;
}

/* Fixes pesky issue with animation playing on load */
.has-transform-transition {
  transition: transform 0s !important;
}

body {
  background-color: #e5e5f7;
  /* background-image: radial-gradient(var(--grayscale-950) 2px, var(--grayscale-1000) 1px); */
  /* background-size: 30px 40px; */
  background-position: 0 0, 10px 10px;
  font-family: 'Inter', sans-serif;
  background-color: var(--grayscale-1000);
  color: var(--grayscale-50);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  & h1, & h2, & h3, & h4, & h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 1.3;
  }
  
  & h1 {
    margin-top: 0;
    font-size: 3.052rem;
  }
  
  & h2 {font-size: 2.441rem;}
  
  & h3 {font-size: 1.953rem;}
  
  & h4 {font-size: 1.563rem;}
  
  & h5 {font-size: 1.25rem;}
  
  & small {font-size: 0.8rem;}


}
