.socials {
  height: 100lvh;
  width: 100lvw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  & .header {
    & .word {
      display: inline-block;
      transform: translateY(50%);
      opacity: 0;
      transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.2s ease-in;

      &:nth-child(2) {
        transition-delay: 0.2s;

      }

      &:nth-child(3) {
        transition-delay: 0.4s;
      }

      &:nth-child(4) {
        transition-delay: 0.6s;
      }
    }

    &.scrolled {
      & .word {
        &.loaded {
          transform: translateY(0%);
          opacity: 1;
        }
      }
    }
  }
}

.socials-cta-buttons {
  border-radius: 1rem;
  border: 1px solid var(--grayscale-100);
  opacity: 0;
  transform: translateY(50%);
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.2s ease-in;
  &.scrolled {
    opacity: 1;
    transform: translateY(0%);
  }
}

.socials-cta-link {
  & button {
    cursor: pointer;
    transform: translate(var(--x), var(--y));
    transition: all .6s ease;
    margin: 10px 20px;
    padding: 1rem 2rem;
    border: 1px solid var(--button-gradient1);
    font-weight: 700;
    color: var(--button-text);
    border-radius: 1rem;
    background-size: 200% 200%;
    background-image: linear-gradient(to right,
        var(--button-gradient1),
        var(--button-gradient2));
    animation: gradient-background 4s ease infinite;
    font-size: 1.2rem;

    &:hover {
      transition: transform 0.1s ease;
      transform: scale(1.05) translate(var(--x), var(--y));
    }
  }
}

@keyframes gradient-background {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 0px) {
  .socials {
    & .header {
      max-width: 100lvw;
      text-align: center;
    }
  }
}